@use "../../abstracts/variables" as v;
@use "../../abstracts/breakpoints" as bp;

.address-list--order-detail {
    table {
        tr{
            td{
                opacity: 1;
            }
        }
    }
  .button {
    button {
      font-family: v.$font-family-des;
      font-size: 1.5rem;
      line-height: 146.667%;
      letter-spacing: 0px;
    }
  }
  .address-list-container__des {
    display: none;
  }

  .card {
    .card-item {
      align-items: flex-end;
    }
    .card-item__content {
      button {
        white-space: nowrap;
        font-family: v.$font-family-des;
        font-size: 14px;
        line-height: 157.143%;
        letter-spacing: 0px;
      }
    }
  }

  @include bp.respond(lg) {
    .address-list-container__title {
      padding-bottom: 0.8rem !important;
    }
    .address-list-container__des {
      display: block;
      font-family: v.$font-family-des;
      font-size: 15px;
      line-height: 146.667%;
      letter-spacing: 0px;
      opacity: 0.7;
      padding-bottom: 2rem;
    }
  }
}

.address-list-default--bill {
  padding-bottom: 4.1rem !important;
}
