@use "../../abstracts/variables" as v;
@use "../../abstracts/breakpoints" as bp;

.address-list--checkout {
  padding-top: 2.1rem;
  .address-list-container {
    .address-list-container__title {
      font-size: 3.8rem;
      line-height: 92.105%;
      letter-spacing: -1.8px;
    }
  }

  @include bp.respond(lg) {
    .address-list-container {
      padding-top: 8.8rem;
      .address-list-container__title {
        font-size: 9rem;
        line-height: 88.889%;
        letter-spacing: -3.6px;
      }
    }

    .address-list-container__table {
      padding-right: 4rem;
    }
  }
}

.checkout-complete {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem 2rem 2rem 2rem;
  background-color: #eeece6;

  .checkout-complete__collapse-item {
    padding: 1.6rem 0;
    .collapse-header {
      justify-content: space-between;
    }
    .collapse-header__title {
      font-size: 1.5rem;
      line-height: 146.667%;
      letter-spacing: 0px;
    }

    .collapse-header__icon {
      padding: 0.8rem;
      svg {
        width: 2.4rem;
        height: 2.4rem;
      }
    }

    .input__caculate{
      display: flex;
      justify-content: space-between;
      align-items: center;

      button{
        font-family: v.$font-family-des;
        font-size: 1.6rem !important;
        line-height: 137.5% ;
        padding-top: 1.2rem;
  
      }
    }

    .input__caculate-shipping{
  
      .address-list-container__back-btn{
        display: flex;
        align-items: center;
        gap: .2rem;
      }
      .address-list-container__back-btn-icon{
        padding-top: 1.2rem;
      }
    }
    

    .text-area {
      textarea {
        min-height: 80px;
      }
    }
  }
  .progress {
    padding: 2rem 0;
  }

  .checkout-complete__sub-total {
    padding-top: 2.4rem;
    padding-bottom: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    .checkout-complete__sub-total-header {
      .checkout-complete__sub-total-title {
        font-family: v.$font-family-des;
        font-size: 1.4rem;
        line-height: 157.143%;
        letter-spacing: 0px;
        opacity: 0.7;
      }
      .checkout-complete__sub-total-amount {
        font-size: 2.4rem;
        line-height: 116.667%;
        letter-spacing: -0.72px;
      }
      .checkout-complete__sub-total-cupon {
        display: flex;
        align-items: center;
        gap: 0.4rem;

        font-size: 1.4rem;
        line-height: 157.143%;
      }
    }
    .checkout-complete__sub-total-bottom {
      width: 80%;
      font-family: v.$font-family-des;
      font-size: 1.2rem;
      line-height: 133.333%;
      opacity: 0.6;
    }
  }

  @include bp.respond(lg) {
    padding: 1.6rem 3.2rem 3.2rem 3.2rem;
    margin-top: 19.2rem;
    background-color: transparent !important;
    
    .collapse-header__title {
      font-size: 1.6rem !important;
      line-height: 146.667%;
      letter-spacing: 0px;
    }


    .checkout-complete__sub-total-header {
      .checkout-complete__sub-total-title {
        font-family: v.$font-family-des;
        font-size: 1.5rem !important;
        line-height: 146.667%;
        letter-spacing: 0px;
        opacity: 0.7;
      }
      .checkout-complete__sub-total-amount {
        font-size: 5rem !important;
        line-height: 88%;
        letter-spacing: -2px;
      }
      .checkout-complete__sub-total-cupon {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        font-family: v.$font-family-des;
        font-size: 1.4rem;
        line-height: 157.143%;
      }
    }
  }
}

.related-product--maybe-like {
  padding-top: 4rem;
  padding-bottom: 4.8rem;
}
