@use "../../abstracts/variables" as v;
@use "../../abstracts/breakpoints" as bp;

.search-product-header {
  padding-top: 0.8rem;
  padding-bottom: 3.2rem;
  .search-product-header__icon {
    display: flex;
    justify-content: flex-end;
    .search-product-header__icon-warp {
      padding: 1.2rem;
      padding-right: 0;
    }
  }
  .search-product-header__search {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding: 0.8rem 0;
  }
  .search-product-header__search-label {
    padding-top: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;

    .label {
      .label-no {
        font-family: v.$font-family-des;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 133.333%;
        letter-spacing: 0px;
        opacity: 0.6;
      }
    }
  }

  @include bp.respond(lg) {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
    .search-product-header__icon {
      display: none;
    }

    .search-product-header__search-label {
      padding-top: 2.3rem;
    }

    .search-product-header__search {


      width: 100%;
      .search {
        width: 100%;
      }
      .search-input {
        width: 90%;
        
      }
    }
  }
}

.search-list {
  xo-grid {
    --xo-grid-row-gap: 3.3rem;
    @include bp.respond(lg) {
      --xo-grid-row-gap: 5.6rem;
    }
  }

  .search-list__result,
  .search-list__ft {
    display: none;
  }

  .pagination-num-box {
    margin-top: -1.3rem;
    padding-bottom: 7.4rem;
    justify-content: center;
  }

  @include bp.respond(lg) {
    .search-list__result {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      font-family: v.$font-family-des;
      font-size: 1.5rem;
      line-height: 146.667%;
      letter-spacing: 0px;
      .search-list__result-text-blur {
        opacity: 0.7;
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
      }
    }

    .search-list__ft {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding-top: 2.4rem;
      padding-bottom: 2.4rem;

      .filter-box-type-item__popover-warp{
        background-color: #2B231F;
        padding: 2.4rem;
        border-radius: 0.8rem;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
      }
      .filter-box-type-item__choice{
        color: white;
      }

      .filter-box-type-item__choice:hover {
        color: #DDD8CB;
        cursor: pointer;
      }

    }
    .pagination-num-box {
      margin-top: 0;
      padding-top:5.6rem;
      padding-bottom: 5.6rem;
    }
  }
}

.search-list--emty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.6rem;
  padding-bottom: 19.6rem;
  padding-top: 2.2rem;
  .search-list-emty__icon {
    padding: 0.22rem 0.76rem 1.12rem 0.76rem;
  }

  .search-list-emty__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 0.8rem 1.6rem;

    .search-list-emty__content-title {
      font-size: 3rem;
      line-height: 113.333%;
      letter-spacing: -0.84px;
    }
    .search-list-emty__content-text {
      font-family: v.$font-family-des;
      font-size: 1.4rem;
      letter-spacing: 157.143%;
      opacity: 0.7;
      .search-data {
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
      }
    }
  }

  @include bp.respond(lg) {
    // width: 50%;
    // max-width: 640px;
    padding-top: 9.6rem;
    .search-list-emty__content {
      width: 50%;
      max-width: 640px;
      gap: 0.4rem;
    }
  }
}

// /////////////////////////////////////

.gift-card {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .gift-card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    .gift-card-header-title {
      font-size: 5.6rem;
      line-height: 88.889%;
      letter-spacing: -3.6px;
    }
    .gift-card-header-amount {
      font-family: v.$font-family-des;
      font-size: 1.6rem;
      line-height: 133.333%;
      letter-spacing: 0px;
      font-weight: 500;
    }
  }



  .gift-card-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    .gift-card-mid-qr {
      svg {
        width: 13.1rem;
        height: 13.1rem;
      }
    }
    .gift-card-mid-code {
      font-family: v.$font-family-des;

      .gift-card-mid-code__text {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 133.333%;
        letter-spacing: 0px;
      }
      .gift-card-mid-code__btn {
        display: flex;
        justify-content: center;
        button {
          font-size: 1.4rem;

          line-height: 146.667%;
          letter-spacing: 0px;
        }
      }
    }

   
  }
  .gift-card-bottom {
    width: 100% ;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    gap: .4rem ;
  }


  @include bp.respond(lg) {
    padding-top: 11.2rem;
    padding-bottom: 16rem;
    gap: 4rem;
    .gift-card-header {
     
      gap: 1.2rem;
      .gift-card-header-title {
        font-size: 9rem;
        line-height: 88.889%;
        letter-spacing: -3.6px;
      }
      .gift-card-header-amount {
        font-family: v.$font-family-des;
        font-size: 1.8rem;
        line-height: 144.444%;
        letter-spacing: 0px;
        font-weight: 500;
      }
    }
    .gift-card-mid {
      .gift-card-mid-qr {
        svg {
          width: 13.1rem;
          height: 13.1rem;
        }
      }
      .gift-card-mid-code {
        font-family: v.$font-family-des;

        .gift-card-mid-code__text {
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 133.333%;
          letter-spacing: 0px;
        }
        .gift-card-mid-code__btn {
          display: flex;
          justify-content: center;
          button {
            font-size: 1.5rem;

            line-height: 146.667%;
            letter-spacing: 0px;
          }
        }
      }
    }
    .gift-card-bottom {
      width: 70%;
      max-width: 540px;
      display: flex;
      flex-direction: column;
      gap: .4rem;
    }
  }
}
