@use "../abstracts/variables" as v;
@use "../abstracts/breakpoints" as bp;

.banner--home-2 {
  color: white;
  padding: 0rem 4.8rem;
  .banner__titles {
    position: absolute;
    
    bottom: 15%;
    .banner__title {
      font-size: 32.6rem;
      line-height: 179.755%;
    }
  }

  @include bp.respond("lg") {
    .banner__titles {
      bottom: 10dvh;
      .banner__title {
        font-size: 32.6rem;
        line-height: 79.755%;
        letter-spacing: -6.52px;
      }
    }

    .banner__slide-num {
      .banner__slide-num-item {
        width: fit-content;
      }
    }
  }
}
