@use "../abstracts/variables" as v;
@use "../abstracts/breakpoints" as bp;

.header--home-3 {
  @include bp.respond(lg) {
    .header__logo {
      opacity: 0;
    }
  }
}

.lux {
  position: relative;
  width: 100%;
  padding: 2.9rem 2.1rem;
  z-index: 2;

  .lux__titles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 4.2rem;
    .lux__title-1 {
      //   position: absolute;

      font-size: 11rem;
      line-height: 50%;
      letter-spacing: -2px;
    }
    .lux__title-2 {
      //   position: absolute;
      padding-right: 4.8rem;
      font-size: 11rem;
      line-height: 50%;
      letter-spacing: -2px;
      text-align: right;
    }
  }

  .lux__description {
    pointer-events: none;
    width: 70%;
    padding-top: 4.5rem;
    color: #645348;
    font-family: v.$font-family-des;
    font-size: 1.6rem;
    line-height: 130%;
    letter-spacing: -0.48px;
  }
  .lux__products {
    padding-top: 4.5rem;
  }

  @include bp.respond(lg) {
    // pointer-events: none;
    padding: 0rem 4.8rem;
    padding-top: 5.1rem;

    .lux__titles {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 4.2rem;
      .lux__title-1 {
        //   position: absolute;

        font-size: 36rem;
        line-height: 72.222%;
        letter-spacing: -7.2px;
      }
      .lux__title-2 {
        //   position: absolute;
        padding-right: 32rem;
        font-size: 36rem;
        line-height: 72.222%;
        letter-spacing: -7.2px;
        // text-align: left;
      }
    }

    .lux__description {
      position: absolute;
      top: 33.6rem;
      width: 70%;

      max-width: 43.2rem;

      color: #52443c;
      font-size: 1.6rem;
      line-height: 130%;
      letter-spacing: -0.48px;
    }

    .lux__products {
      padding: 0;
      margin-top: -1.1rem;
    }
  }
}

.banner-home-3 {
  // height: 775px;
  position: relative;
  z-index: 1;
  top: -160px;

  margin-bottom: -160px;

  padding: 2.8rem 2.1rem;
  width: 100%;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: flex-end;

  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../../assets/banner.webp) lightgray center / cover no-repeat;
  background-size: cover;
  background-position: center;
  color: #f8f7f4;

  .banner-home-3__top-content {
    font-family: v.$font-family-des;
    color: #ddd8cb;
    font-size: 1.3rem;
    line-height: 120%;
    letter-spacing: -0.52px;
    text-transform: uppercase;
  }

  .banner-home-3__bottom-content {
    display: flex;
    flex-direction: column;
    gap: 3.7rem;
    .banner-home-3__bottom-content-title {
      font-size: 3rem;
      line-height: 3.4rem;
      letter-spacing: -0.84px;
    }

    .banner-home-3__bottom-content-btn {
      width: fit-content;
      position: relative;
      button {
        padding: 0;
        color: #fff;
        font-size: 2.3rem;
        line-height: 100%;
        letter-spacing: -0.23px;
      }
    }

    .banner-home-3__bottom-content-btn::after {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 0.1rem;
      background-color: #eeece6;
      bottom: 0;
      left: 0;
    }

    .banner-home-3__bottom-content-btn:hover::after {
      transform-origin: left;
      animation: borderReveal 0.4s ease-out forwards;
    }
  }

  &:hover {
    cursor: pointer;
    .banner-home-3__bottom-content-btn::after {
      transform-origin: left;
      animation: borderReveal 0.4s ease-out forwards;
    }
  }

  @include bp.respond(lg) {
    top: -221px;
    margin-bottom: -221px;

    padding: 0rem 4.8rem;
    padding-top: 5.7rem;
    padding-bottom: 4.8rem;
    height: 1040px;
    background: linear-gradient(
        0deg,
        var(--Border, rgba(43, 35, 31, 0.2)) 0%,
        var(--Border, rgba(43, 35, 31, 0.2)) 100%
      ),
      url(../../assets/banner.webp) lightgray center / cover no-repeat;

    justify-content: space-between;
    .banner-home-3__top-content {
      font-size: 1.3rem;
      line-height: 120%;
      letter-spacing: -0.52px;
    }
    .banner-home-3__bottom-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      .banner-home-3__bottom-content-title {
        width: 60%;
        font-size: 6.3rem;
        line-height: 100%;
        letter-spacing: -1.26px;
      }
      .banner-home-3__bottom-content-btn {
        button {
          font-size: 2.3rem;
          line-height: 100%;
          letter-spacing: -0.23px;
        }
      }
    }

    &:hover {
      cursor: pointer;
      .banner-home-3__bottom-content-btn::after {
        transform-origin: left;
        animation: borderReveal 0.4s ease-out forwards;
      }
    }
  }
}

.insignt {
  padding: 0 2.1rem;
  padding-bottom: 6.6rem;
  padding-top: 4.4rem;

  .insignt__top-content {
    .insignt__title {
      font-size: 5rem;
      line-height: 88%;
      letter-spacing: -2px;
    }
    .insignt__button {
      padding-top: 2.6rem;
    }
  }

  .insignt__bottom-content {
    width: 100%;
    .insignt__bottom-content-carousel {
      width: 100%;
      padding: 0;
      padding-top: 4.2rem;
      padding-right: var(--xo-gap);
    }
    .insignt__bottom-content-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }
    .insignt__bottom-content-image {
      width: 100%;
      aspect-ratio: 333/248;
      overflow: hidden;
      padding-bottom: 0.7rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform-origin: center;
      }
    }
    .insignt__bottom-content-title {
      font-size: 2.5rem;
      letter-spacing: 100%;
    }
    .insignt__bottom-content-sub-title {
      font-family: v.$font-family-des;
      font-size: 1.3rem;
      line-height: 120%;
      font-weight: 300;
      letter-spacing: -0.39px;
      text-transform: uppercase;
      color: #645348;
    }
  }

  @include bp.respond(lg) {
    padding: 0 4.8rem;
    padding-top: 5.4rem;
    padding-bottom: 13.8rem;
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      
      content: "";
      background: rgba(0, 0, 0, 0.1);
      width: calc(100% - 9.6rem);
      height: 1px;
      transform-origin: center;
    }

    display: flex;
    .insignt__top-content {
      width: 25%;
    }
    .insignt__bottom-content {
      padding: 0;
      width: 75%;
      overflow: hidden;

      .insignt__bottom-content-carousel {
        padding: 0;
        [xo-active] {
          .insignt__bottom-content-image {
            width: 100%;
            aspect-ratio: 390/519;
          }
        }
      }
      .insignt__bottom-content-image {
        width: 100%;
        // aspect-ratio: 390/519;
        aspect-ratio: 390/290;
        overflow: hidden;
        padding-bottom: 0.7rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform-origin: center;
        }
      }
    }
  }
}

.button {
  font-family: v.$font-family;
  font-size: 2.3rem;
  line-height: 100%;
  letter-spacing: -0.23px;
  width: fit-content;
  height: 100%;
  button {
    padding: 0;
  }
}

.button::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: var(--color-btn, #eeece6);
  bottom: 0;
  left: 0;
}

.button:hover::after {
  transform-origin: left;
  animation: borderReveal 0.4s ease-out forwards;
}

.shop-mood--home-3{
  .shop-mood__wrapper:hover .shop-mood__line:not(:hover){
    // background-color: red;
    opacity: .3;
  }
  .shop-mood__line:hover {
    transform: scale(1);
    opacity: 1;
  }
}

.shop-mood__line-cursor{
  width: 20%;
  aspect-ratio: 1/1;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}