@use "../../abstracts/variables" as v;
@use "../../abstracts/breakpoints" as bp;

.address-header {
  padding-top: 4.2rem;
  padding-bottom: 2.4rem;

  .address-header__title {
    font-size: 3.8rem;
    line-height: 92.105%;
    letter-spacing: -1.8px;
    padding-top: 3.8rem;
  }

  .address-header__back-btn {
    padding-top: 0.6rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;

    font-family: v.$font-family-des;
    font-size: 1.4rem;
    line-height: 157.143%;
    letter-spacing: 0px;
  }

  .address-header__title-warp {
    display: flex;
    align-items: end;
    gap: 1rem;
  }

  @include bp.respond(lg) {
    padding-top: 7.2rem;
    .address-header__title {
      font-size: 6.3rem;
      line-height: 100%;
      letter-spacing: -1.26px;
      padding-top: 1.6rem;
    }
  }
}

.address-list--emty {
}
.address-header--emty {
}

.address-list {
  padding-top: 2.3rem;
  .address-list-container {
    .address-list-container__title {
      font-size: 2rem;
      line-height: 110%;
      letter-spacing: -0.36px;
      padding-bottom: 2rem;
    }
    .address-list-container__cards {
    }

    .address-list-container__cards-pagination {
      display: flex;
      justify-content: center;
      padding-top: 3.1rem;
      padding-bottom: 2.1rem;
    }

    .address-list-container__table {
      display: none;
    }
  }

  .address-list-default {
    padding-bottom: 8.7rem;
    .address-list-default__title {
      padding-top: 2rem;
      padding-bottom: 2rem;

      font-size: 2rem;
      line-height: 110%;
      letter-spacing: -0.36px;
    }

    .address-list-default__content {
      padding-top: 2.4rem;
      //   padding-bottom: 2.4rem;
      font-family: v.$font-family-des;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      .address-list-default__content-item {
        display: flex;
        // align-items: center;
        gap: 0.8rem;
      }
      .address-list-default__content-item-text{
        opacity: 0.8;
      }
      .address-list-default__content-item-icon {
        svg {
          width: 2.4rem;
          height: 2.4rem;
        }
      }
      .address-list-default__content-item-btn {
        button {
          font-family: v.$font-family-des;
          font-size: 15px;
          line-height: 146.667%;
          letter-spacing: 0px;
        }
      }
    }
  }

  @include bp.respond(lg) {
    padding-top: 1.6rem;
    padding-bottom: 9.6rem;
    .address-list-container__cards {
      display: none;
    }

    .address-list-container {
      .address-list-container__table {
        display: block;
      }
      .address-list-container__table-bottom-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2.4rem;
        // padding-bottom: 2.4rem;
        .address-list-container__back-btn {
          display: flex;
          align-items: center;
          gap: 0.4rem;

          .address-list-container__back-btn-text {
            button {
              font-family: v.$font-family-des;
              font-size: 1.8rem;
              font-weight: 500;
              line-height: 144.444%;
            }
          }
        }
      }
    }

    .address-list-default {
      width: 80%;
      margin: 0 auto;
      .address-list-default__title {
        padding-top: 0;
        font-size: 2.3rem;
        line-height: 108.696%;
        letter-spacing: -0.5px;
      }
    }
  }
}

.address-list-container__emty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2.1rem;
  padding-top: 4rem;
  padding-bottom: 9.9rem;

  margin: 0 auto;

  .address-list-container__emty-bottom-btn {
    font-weight: 600;
  }

  .address-list-container__emty-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.6rem;
    padding: 0.8rem 1.6rem;
    .address-list-container__emty-mid-title {
      font-size: 20px;
      line-height: 110%;
      letter-spacing: -0.36px;
    }
    .address-list-container__emty-mid-des {
      font-family: v.$font-family-des;
      font-size: 14px;
      line-height: 157.143%;
      letter-spacing: 0px;
    }
  }

  @include bp.respond(lg) {
    width: 50%;
    gap: 2.4rem;
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
    .address-list-container__emty-mid {
      gap: 1.4rem;
      .address-list-container__emty-mid-title {
        font-size: 23px;
        line-height: 110%;
        letter-spacing: -0.36px;
      }
  
    }
  }
}
