@use "../abstracts/variables" as v;
@use "../abstracts/breakpoints" as bp;

.header {
  position: absolute;
  z-index: 1000;
  width: 100%;

  padding: 2.3rem 2.1rem;
  font-family: v.$font-family-des;
  color: v.$bg-light;

  .header__logo {
    cursor: pointer;
  }

  .header__logo-icon {
    width: fit-content;
    overflow: hidden;
    svg {
      width: 71.999px;
      height: 35.909px;
      flex-shrink: 0;
    }
  }

  .header__logo-icon:hover {
    svg path {
      fill: white;
    }
  }

  .header__logo-description,
  .header__menu-pages,
  .header__menu-end {
    display: none;
    overflow: hidden;
  }

  .header__menu-end-cart {
    white-space: nowrap;
  }

  .header__menu-end-cart:hover {
    cursor: pointer;
    text-decoration: wavy;
    color: white;
  }

  .header__menu-end-login {
    white-space: nowrap;
  }

  .header__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .header__menu-icon {
    align-self: center;
  }

  @include bp.respond(lg) {
    padding: 4.2rem 4.8rem;
    .header__menu {
      gap: 9.3rem;
      font-size: 1.6rem;
      font-weight: 300;
    }

    .header__logo-icon {
      svg {
        width: 99.571px;
        height: 49.658px;
      }
    }
    .header__logo {
      display: flex;
      align-items: start;

      gap: 8rem;

      .header__logo-description {
        width: 50%;
        max-width: 390px;
      }
    }

    .header__menu-icon {
      display: none;
    }

    .header__logo-description,
    .header__menu-pages,
    .header__menu-end {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      justify-content: flex-end;
      gap: 1.6rem;
      a {
        display: block;
        padding: 4px 0px;
      }
    }

    .header__logo-description:hover {
      cursor: pointer;
      text-decoration: wavy;
      color: white;
    }
  }

  @include bp.respond(xl) {
    .header__logo {
      width: 100%;
      justify-content: space-between;
      .header__logo-description {
        width: 100%;
      }
    }
  }
}

.header--product {
  .header__product {
    display: none;
  }

  @include bp.respond(lg) {
    .header__menu {
    }
    .header__product {
      margin-right: auto;

      width: 35%;
      display: block;
      .product__image {
        width: 100%;
        aspect-ratio: 338/397;
        object-fit: cover;
        object-position: center;

        img {
          opacity: 0;
          clip-path: inset(0% 90% 0% 0%);
          transition: all 0.5s ease-in-out 1s;
        }
        &.animate {
          img {
            opacity: 1;
            clip-path: inset(0% 0% 0% 0%);
            animation: none !important;
          }
        }
      }
    }
  }
}

.header--relative{
  position: relative;
}

.header--md-height{
  height: 100%;
  @include bp.respond(lg) {
    height: 100%;
  }
}


// .header--small {
//   // @include bp.respond("lg") {
//   //   opacity: 0;
//   //   display: none;
//   // }
// }

// .header--large {
//   opacity: 0;
//   display: none;
//   @include bp.respond("lg") {
//     opacity: 1;
//     display: flex;
//   }
// }
