@use "../abstracts/variables" as v;
@use "../abstracts/breakpoints" as bp;

.header {
  position: absolute;
  z-index: 1000;
  width: 100%;

  padding: 2.3rem 2.1rem;
  font-family: v.$font-family-des;
  color: v.$bg-light;

  .header__logo {
    // cursor: pointer;
  }

  .header__logo-icon {
    cursor: pointer;
    width: fit-content;
    overflow: hidden;
    svg {
      width: 71.999px;
      height: 35.909px;
      flex-shrink: 0;
    }
  }

  .header__logo-icon:hover {
    svg path {
      fill: white;
    }
  }

  .header__logo-description,
  .header__menu-pages,
  .header__menu-end {
    display: none;
    overflow: hidden;
  }

  .header__menu-end-cart {
    white-space: nowrap;
  }

  .header__menu-end-cart:hover {
    cursor: pointer;
    text-decoration: wavy;
    color: white;
  }

  .header__menu-end-login {
    white-space: nowrap;
  }

  .header__menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    // padding-bottom: .39rem;
    padding-top: 1rem;
  }

  .header__menu-icon {
    align-self: center;
  }

  @include bp.respond(sm){

  }


  @include bp.respond(lg) {
    padding: 4.2rem 4.8rem;
    .header__menu {
      padding-top: 0;
      padding-right: 0rem;
      gap: 9.3rem;
      font-size: 1.6rem;
      font-weight: 300;
    }

    .header__menu-page-item{

    }

    .header__logo-icon {
      margin-top: -.5rem;
      svg {
        width: 99.571px;
        height: 49.658px;
      }
    }
    .header__logo {
      display: flex;
      align-items: start;

      gap: 8rem;

      .header__logo-description {
        width: 50%;
        max-width: 390px;
      }
    }

    .header__menu-icon {
      display: none;
    }

    
    .header__menu-pages,
    .header__menu-end {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      justify-content: flex-end;
      gap: 1.6rem;

      line-height: 137.5%;
      letter-spacing: var(--Body-letter-spacing, 0rem);

      a {
        display: block;
        // padding: 4px 0px;
      }
      xo-animate{
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        justify-content: flex-end;
        gap: 1.6rem;
  
      }
    }

    .header__logo-description:hover {
      // cursor: pointer;
      // text-decoration: wavy;
      // color: white;
      pointer-events: none;
      cursor: default;
    }
  }

  @include bp.respond(xl) {
    .header__menu {

      padding-right: 5.9rem;

    }
    .header__logo-description{
      display: flex;
    }
    .header__logo {
      width: 100%;
      justify-content: space-between;
      .header__logo-description {
        width: 100%;
        font-size: var(--Body-font-size-body-Md, 1.6rem);
        font-style: normal;
        font-weight: var(--Body-font-weight-Subtle, 400);
        line-height: 137.5%;
        letter-spacing: var(--Body-letter-spacing, 0rem);
      }
    }
  }
}

.header--product {
  .header__product {
    display: none;
  }

  @include bp.respond(lg) {
    .header__menu {
    }
    .header__product {
      margin-right: auto;

      width: 35%;
      display: block;
      .product__image {
        width: 100%;
        aspect-ratio: 338/397;
        object-fit: cover;
        object-position: center;

        img {
          opacity: 0;
          clip-path: inset(0% 90% 0% 0%);
          transition: all 0.5s ease-in-out 1s;
        }
        &.animate {
          img {
            opacity: 1;
            clip-path: inset(0% 0% 0% 0%);
            animation: none !important;
          }
        }
      }
    }
  }
}

.header--relative {
  position: relative;
}

.header--md-height {
  height: 100%;
  @include bp.respond(lg) {
    height: 100%;
  }
}

.header--text-dark {
  .header__logo-icon:hover {
    svg path {
      fill: #796257;
    }
  }

  a:hover::after {
    width: 100%;
    color: #796257;
    transition: all 0.35s ease-in-out;
  }

  a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #796257;
    transition: width 0.35s ease-in-out;
  }

  a:hover div {
    color: #796257 !important;
  }

  .a:hover .header__menu-page-item:hover {
    color: #796257;
  }

  .header__menu-end-cart:hover {
    cursor: pointer;
    text-decoration: wavy;
    color: #796257;
  }

  svg {
    path {
      fill: v.$text-dark;
    }
  }
  color: v.$text-dark;
}

// .header--small {
//   // @include bp.respond("lg") {
//   //   opacity: 0;
//   //   display: none;
//   // }
// }

// .header--large {
//   opacity: 0;
//   display: none;
//   @include bp.respond("lg") {
//     opacity: 1;
//     display: flex;
//   }
// }
