@use "../abstracts/variables" as v;
@use "../abstracts/breakpoints" as bp;

.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // đoạn này theo thiết kế thì nó
  //không căn giữ nhưng khi tăng kích thước màn
  // ra thì  nó lại chụm vể một phía không hợp lý
  // align-items: center;
  justify-content: flex-end;
  // gap: 5.6rem;
  position: relative;
  padding: 2.4rem 2.1rem;

  .banner__images {
    width: 100%;
    height: 100%;
    // background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    // z-index: -1;
    overflow: hidden;
    .banner__image {
      width: 100%;
      // height: 100vh;
      height: 100%;
      // position: absolute;
      // filter: grayscale(0.15);
      // top: 0;
      // left: 0;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.015),
          rgba(0, 0, 0, 0.015)
        );
        z-index: 1;
        pointer-events: none; // không chặn tương tác
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: relative;
        z-index: 0;
        animation: none;
        transition: none;
        transform: none;
      }
    }
  }

  .banner__titles {
    pointer-events: none;
    position: relative;
    z-index: 9;
    padding-bottom: 13.16%;

    display: flex;
    flex-direction: column;

    color: v.$text-light;
    font-size: 7.6rem;
    font-weight: v.$font-weight;
    line-height: 100%;
    letter-spacing: -0.152rem;

    xo-animate:nth-child(2) .banner__title,
    xo-animate:last-child .banner__title {
      padding: 0 5.9rem;
    }

    .banner__title--hide {
      // transition: all 0.3s ease-in-out;
      display: none;
      opacity: 0;
    }

    .banner__title:hover {
      // color: white;
      // transform: scale(1.1);
      // transition: all 0.3s ease-in-out;
    }
  }

  .banner__slide-num {
    width: calc(100vw - 4.2rem);
    // width:  100vw;

    height: fit-content;
    display: flex;
    justify-content: space-between;
    // justify-self: flex-end;

    font-family: v.$font-family-des;

    color: v.$text-light;
    font-size: 1.4rem;
    font-weight: v.$font-weight;
    line-height: 1;
    .banner__slide-num-item {

      width: fit-content;
      opacity: 0.6;
      text-align: center;
      transition: all 0.2s ease-in-out;
    }

    xo-carousel-slide {
      width: fit-content;
      padding: 0 0.1rem;
    }

    // xo-carousel-slide[xo-active] .banner__slide-num-item {
    //   opacity: 1;
    //   transform: scale(1.2);
    // }

    .banner__slide-num-item:hover {
      opacity: 1;
      transform: scale(1.2);
    }
  }

  @include bp.respond(sm) {
    align-items: center;
  }

  @include bp.respond(xl) {
    padding: 4.6rem 4.8rem;
    overflow: hidden;
    .banner__images {
      width: 100%;
      height: 100%;
      // background-color: blue;
      position: absolute;
      top: 0;
      left: 0;
      // z-index: -1;

      .banner__image {
        width: 100%;
        height: 100%;
        position: absolute;
        // filter: grayscale(0.15);
        clip-path: inset(10% 30%);
        transform: scale(0.4);
        // will-change: transform, clip-path;
        top: 100%;
        left: 0;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.15),
            rgba(0, 0, 0, 0.15)
          );
          z-index: 1;
          pointer-events: none; // không chặn tương tác
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          position: relative;
          z-index: 0;
        }
      }

      .banner__image--1 {
        z-index: 4;
        // top: 0;
        will-change: transform, clip-path;
        animation: slideUp 1.2s cubic-bezier(0.33, 1, 0.68, 1) forwards,
          zoomExpand 1.4s cubic-bezier(0.25, 0.1, 0.25, 1) 0.4s forwards;
      }
      .banner__image--2 {
        z-index: 3;
        will-change: transform, clip-path;
        animation: slideUp 1.2s cubic-bezier(0.33, 1, 0.68, 1) 0.15s forwards,
          zoomExpand 1.4s cubic-bezier(0.25, 0.1, 0.25, 1) 0.55s forwards,
          move-right-2 300ms linear 2.2s forwards;
      }
      .banner__image--3 {
        z-index: 2;
        will-change: transform, clip-path;
        animation: slideUp 1.2s cubic-bezier(0.33, 1, 0.68, 1) 0.3s forwards,
          zoomExpand 1.4s cubic-bezier(0.25, 0.1, 0.25, 1) 0.7s forwards,
          move-right-3 300ms linear 2.4s forwards;
      }
      .banner__image--4 {
        z-index: 1;
        will-change: transform, clip-path;
        animation: slideUp 1.2s cubic-bezier(0.33, 1, 0.68, 1) 0.45s forwards,
          zoomExpand 1.4s cubic-bezier(0.25, 0.1, 0.25, 1) 0.85s forwards,
          move-right-4 300ms linear 2.8s forwards;
      }
    }

    .banner__titles {
      width: 100%;
      height: 100%;
      font-size: 7.6rem;
      line-height: 100%;
      letter-spacing: -0.304rem;
      flex-direction: row;
      align-items: end;
      padding-bottom: 39dvh;

      .banner__title {
        position: relative;
        .banner__sub-title {
          position: absolute;
          left: 0;
          top: 10.5rem;
          font-family: v.$font-family-des;
          font-size: 1.7rem;
          line-height: 2.4rem;
          letter-spacing: 0px;
        }
      }

      justify-content: space-between;
      xo-animate:nth-child(2) .banner__title,
      xo-animate:last-child .banner__title {
        padding: 0 0rem;
      }

      xo-animate:nth-child(2) {
        letter-spacing: -0.152rem;

        width: 25.2rem;
        margin-left: -3.9rem;
      }
      xo-animate:nth-child(3) {
        width: 17.8rem;
        margin-left: 6.5rem;
      }
      xo-animate:nth-child(4) {
        width: 25.3rem;
      }
    }
    .banner__title--hide {
      // transition: all 0.3s ease-in-out;
      display: none;
      opacity: 0;
    }
    .banner__slide-num {
      width: calc(100vw - 8.4rem);
      font-size: 2.3rem;
      font-family: v.$font-family;

      xo-carousel-list,
      xo-carousel-slide {
        width: calc(100% / 4);
        text-align: center;
      }
      .banner__slide-num-item {
        opacity: 0;
        transform: translateY(30%);
        width: 100%;
        text-align: center;
        line-height: var(--Heading-line-height-H6, 2.5rem); /* 108.696% */
        letter-spacing: var(--Heading-letter-spacing-H6, -0.05rem);
      }
    }
  }
}


// .banner.preloading * {
//   animation: none !important;
//   transition: none !important;
// }

.banner--hide * {
  animation: none !important;
  transition: none !important;


}

.banner--home-2 {
  color: white;
  // padding: 0rem 2.1rem;
  xo-carousel-thumbnail {
    width: 100%;
  }
  .banner__image {
    position: relative;
    top: 0;
    left: 0;

    .banner__titles {
      padding-bottom: 0.16%;
      position: absolute;
      left: 2.1rem;
      right: 2.1rem;
      bottom: 7.5rem;
    }

    .banner__title {
      font-size: 11rem;
      line-height: 81.818%;
      letter-spacing: -4.4px;
      padding: 0;
    }
    xo-animate:nth-child(2) .banner__title,
    xo-animate:last-child .banner__title {
      padding: 0 0rem;
    }
  }

  .banner__slide-num {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    padding-bottom: 0;

    color: v.$text-light;
    font-size: 1.4rem;
    font-weight: v.$font-weight;
    line-height: 157.143%;
    letter-spacing: 0px;
    .banner__slide-num-item {
      width: fit-content;
      opacity: 0.6;
      text-align: center;
      transition: all 0.2s ease-in-out;
    }

    xo-carousel-slide {
      width: fit-content;
      padding: 0;
    }

    xo-carousel-slide[xo-active] .banner__slide-num-item {
      opacity: 1;
      transform: scale(1.2);
    }

    .banner__slide-num-item:hover {
      opacity: 1;
      transform: scale(1.2);
    }
  }

  @include bp.respond("lg") {
    // padding: 0rem 4.8rem;

    .banner__image {
      .banner__titles {
        position: absolute;
        left: 0;

        padding-left: 4.8rem;
        padding-bottom: 2.7%;
      }
      .banner__title {
        font-size: 32.6rem;
        line-height: 79.755%;
        letter-spacing: -6.52px;
        padding: 0;
      }
    }
    .banner__slide-num {
      // padding-bottom:0.16%;
      .banner__slide-num-item {
        font-size: 2.3rem;
        line-height: 108.696%;
        letter-spacing: -0.05px;
      }
    }
  }
}

.banner--home-4 {
  overflow: hidden;
  width: 100vw;
  min-width: 375px;
  height: calc(100dvh - 8.2rem);
  .banner__images {
    .banner__image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .banner__titles {
        text-align: center;
        font-size: 11.6rem;
        line-height: 120.69%;
        letter-spacing: -2.32px;
      }
    }
  }

  .banner__title:hover {
    // color: white;
    color: v.$text-dark !important;
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
  }

  @include bp.respond(lg) {
    height: 100dvh;
    .banner__images {
      .banner__image {
        width: 100%;
        height: 100%;
        img {
          // width: 100%;
          // height: 100%;
          object-fit: cover;
        }
        .banner__titles {
          // overflow: hidden;
          bottom: 25dvh;
          text-align: center;
          display: inline-block;

          font-size: 36rem;
          line-height: 100%;
          letter-spacing: -2.32px;
        }
      }
    }

    .banner__slide-num {
      padding-bottom: 18dvh;
      font-size: 2.4rem;
      line-height: 1;
      // color: red;
    }
  }
}

.banner--home-6 {
  overflow: visible;
  .banner__title-btn {
    display: none;
  }

  .banner__images {
    .banner__image::before {
      display: none;
    }
  }

  top: 30dvh;
  margin-bottom: 50dvh;

  .banner__titles {
    padding: 0rem 0rem;
    overflow: hidden;
    transform: translateY(-5%);
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .banner__title {
      padding: 0;
      color: #2b231f;
      font-size: 11rem;
      line-height: 127.273%;
      letter-spacing: -2.2px;
    }
  }

  @include bp.respond(lg) {
    .banner__title-btn {
      display: block;
    }
    top: 80dvh;
    margin-bottom: 80dvh;
    .banner__titles {
      padding: 0rem 4.8rem;
      overflow: hidden;
      transform: translateY(-110%);
      justify-content: flex-end;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .banner__title {
        font-size: 36rem;
        line-height: 72.222%;
      }
    }
    .banner__images {
      .banner__image {
        width: 100%;
        height: 100vh;
        position: absolute;
        // filter: grayscale(0.15);
        clip-path: inset(0% 0%);
        transform: scale(1);
        // will-change: transform, clip-path;
        top: 0%;
        left: auto;
      }
    }
    .banner__image--1 {
      z-index: 4;
      // top: 0;
      animation: none !important;
    }
    .banner__image--2 {
      z-index: 3;
      animation: none !important;
    }
    .banner__image--3 {
      z-index: 2;
      animation: none !important;
    }
    .banner__image--4 {
      z-index: 1;
      animation: none !important;
    }
  }
}

.banner--product-6 {
  top: 20dvh;
  margin-bottom: 35dvh;

  @include bp.respond(lg) {
    top: 50dvh;
    margin-bottom: 50dvh;
  }
}

.banner--product-list-md {
  height: 60dvh;
  min-height: 476px;
  max-height: 477px;
  .banner__images {
    .banner__image {
      img {
        object-position: 50% 90%;
      }
    }
  }

  .banner__titles {
    bottom: 3.9rem !important;
    .banner__title {
      font-size: 8rem;
      line-height: 87.5%;
      letter-spacing: -3.2px;
    }
    .title-1 {
      font-size: 5rem;
      line-height: 80%;
      letter-spacing: -2px;
      font-style: italic;
    }
  }

  @include bp.respond(lg) {
    height: 60dvh;
    min-height: 655px;
    max-height: 655px;
    .banner__titles {
      bottom: 8.4rem !important;
      .banner__title {
        font-size: 20rem;
        line-height: 50%;
        letter-spacing: -8px;
      }
      .title-1 {
        font-size: 8rem;
        line-height: 125%;
        letter-spacing: -3.2px;
      }
    }
  }
}
.banner--product-list-over {
  .banner__titles {
    align-items: flex-start;
    bottom: 2.8rem !important;
    padding: 0 2.1rem;
    .banner__title {
      padding: 0 !important;
      font-size: 8rem;
      line-height: 87.5%;
      letter-spacing: -3.2px;
    }
    .title-1 {
      font-size: 5rem;
      line-height: 80%;
      letter-spacing: -2px;
      font-style: italic;
    }
  }

  @include bp.respond(lg) {
    // height: 60dvh;
    padding: 0 4.8rem;

    .banner__titles {
      bottom: 3.3rem !important;
      .banner__title {
        font-size: 20rem;
        line-height: 85%;
        letter-spacing: -8px;
      }
      .title-1 {
        font-size: 8rem;
        line-height: 125%;
        letter-spacing: -3.2px;
      }
    }
  }
}

@keyframes move-up {
  0% {
    transform: translateY(70%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes show-up {
  0% {
    clip-path: inset(60% 0% 0% 0%);
  }
  100% {
    clip-path: inset(0% 0% 0% 0%);
  }
}

@keyframes slideUp {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

@keyframes zoomExpand {
  0% {
    transform: scale(0.4);
    clip-path: inset(10% 30%);
  }
  100% {
    transform: scale(1);
    clip-path: inset(0% 0%);
  }
}

@keyframes move-right-2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes move-right-3 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}
@keyframes move-right-4 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300%);
  }
}
