@use "../abstracts/variables" as v;
@use "../abstracts/breakpoints" as bp;

.input {
  width: 100%;
  position: relative;
  border: 1px solid var(--Border, rgba(43, 35, 31, 0.4));

  input {
    width: 95%;
    background-color: transparent;
    font-family: v.$font-family-des;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
    letter-spacing: 0px;
    color: #2b231f;
    padding: 1.7rem 2.4rem;
    // opacity: 0.6;
    border: none;
    text-overflow: ellipsis;
    &:focus {
        outline: none;
        border-color: #2b231f;
      }
  }

  .input-icon{
    position: absolute;
    // background-color: red;
    top: 50%;
    right: 1.6rem;
    transform: translateY(-50%);
    width: 2.4rem;
    height: 2.4rem;
    // padding: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
  }
}
