@use "../abstracts/variables" as v;
@use "../abstracts/breakpoints" as bp;

.line-gradient {
  width: 100%;
  margin: 0 auto;
  height: 0.1rem;
  opacity: 0.7;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 52.86%,
    rgba(0, 0, 0, 0) 100%
  );

  @include bp.respond("lg") {
    width: 100%;
  }
}

.line-gradient--hide-lg {
  display: block;
  @include bp.respond(lg) {
    display: none;
  }
}
