@use "../abstracts/variables" as v;
@use "../abstracts/breakpoints" as bp;

.loader-home-2 {
  // background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: flex-start;
}

.block-home-2 {
  height: 100dvh;
  width: calc(100% / 8);
  background-color: v.$bg-dark;
}

.number-home-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: v.$text-light;
  font-size: 8.5rem;
}

.mau-home-2 {
  .mau-home-2__sologan {
    span {
      display: inline-block;
      transform: translateY(100%);
      opacity: 0;
    }
  }
  .mau-home-2__qoute {
    span {
      display: inline-block;
      transform: translateY(100%);
      opacity: 0;
    }
  }

  .mau-home-2__big-description {
    overflow: visible;
    display: block;
    position: relative;
    span {
      display: inline-block;
      transform: translateY(100%);
      opacity: 0;
      will-change: transform;
      transform: translateZ(0);
      vertical-align: baseline;
    }
  }
}

.signature-home-2 {
  width: 100vw;
  overflow: clip;
  position: relative;
  top: 0;
 
  // background-color: #2b231f;
  // position: relative;
  height: 400vh;
  overflow: hidden;

  .signature__collection {
    width: 100%;
    // position: relative;
  }
  .signature__item {
    position: relative;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    padding: 0rem 2.1rem;
    text-align: center;
    color: #f8f7f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;

      object-position: top center;
      transform: none;
      filter: contrast(1.2) brightness(0.7);
    }

    .signature__item-title {
      font-size: 4.6rem;
      line-height: 97.826%;
      letter-spacing: -1.76px;
      opacity: 1;
    }
    .signature__item-descption {
      font-family: v.$font-family-des;
      font-weight: 400;
      text-align: center;
      opacity: 1;
      line-height: 140%;
      letter-spacing: -0.16px;
      max-width: 304px;
    }

    .signature__item-button {
      position: relative;
      opacity: 1;
      cursor: pointer;
      padding: 8px 4px;
      display: none;
      // border-bottom: solid 1px rgba(255, 255, 255, 0.4);
      line-height: 100%;
      font-size: 2.3rem;
    }

    .signature__item-button--2 {
      display: block;
    }

    .signature__item-button::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.05rem;
      background: white;
    }

    .signature__item-button:hover::after {
      transform-origin: left;
      animation: borderReveal 0.4s ease-out forwards;
    }
  }
}
