@use "../abstracts/variables" as v;
@use "../abstracts/breakpoints" as bp;

.pagination-num {
  padding-top: 1.7rem;
  padding-bottom: 5.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  font-size: 2rem;
  line-height: 100%;

  @include bp.respond("lg") {
    padding-top: 1.9rem;
    padding-bottom: 14.3rem;
    gap: 1.8rem;

    justify-content: flex-start;

  }

  .pagination-num__item {
    opacity: 0.3;
    transition: opacity 0.2s ease-in-out;
  }

  .pagination-num__item--active {
    opacity: 1;
  }
}
