@use "../abstracts/variables" as v;
@use "../abstracts/breakpoints" as bp;

.product {
  width: 100%;
  height: 100%;
  overflow: hidden;
  // position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
  animation-name: show-up;
  // animation-timeline: view(70% 0%);
}

.product__image {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 3/4;
  img {
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    height: 100%;

    transform-origin: center;
    clip-path: inset(65% 0% 0% 0%);
    object-fit: cover;
    object-position: center;
    will-change: transform, clip-path;
  }

  &.animate {
    img {
      // clip-path: inset(75% 0% 0% 0%);
      animation: show-up 0.9s ease-in-out forwards;
    }
  }

  @keyframes show-up {
    0% {
      clip-path: inset(65% 0% 0% 0%);
    }
    100% {
      clip-path: inset(0% 0% 0% 0%);
    }
  }
}

.product__bottom-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product__title {
  color: #2b231f;
  font-size: 2rem;
  line-height: 2.2rem;
  letter-spacing: -0.36px;
}

.product__price {
  font-family: v.$font-family-des;

  font-size: 1.4rem;
  line-height: 100%;
  letter-spacing: -0.56px;
}

@include bp.respond("lg") {
  .product__title {
    font-size: 2.3rem;
    line-height: 108.696%;
    letter-spacing: -0.5px;
  }

  .product__price {
    line-height: 142.857%;
    letter-spacing: 0px;
  }
}

.product--hide-lg {
  display: block;
  @include bp.respond(lg) {
    display: none;
  }
}

.product--hide-sm {
  display: none;
  @include bp.respond(lg) {
    display: block;
  }
}

.product--align-top {
  justify-content: flex-start;
}
