@use "../abstracts/variables" as v;
@use "../abstracts/breakpoints" as bp;

.product {
  width: 100%;

  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation-name: show-up;
  // animation-timeline: view(70% 0%);
}

.product__image {
  img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    aspect-ratio: 3/4;
    transform-origin: center;
    clip-path: inset(65% 0% 0% 0%);
    object-fit: cover;
    object-position: center;
    will-change: transform, clip-path;
    
  }

  &.animate{
    img{
      // clip-path: inset(75% 0% 0% 0%);
      animation: show-up .9s ease-in-out  forwards;
    }
  }

  .product__bottom-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .product__title {
    font-size: 2rem;
    line-height: 2.2rem;
    letter-spacing: -0.36px;
  }

  .product__price {
    font-family: v.$font-family-des;
    font-size: 1.4rem;
    line-height: 100%;
    letter-spacing: -0.56px;
  }

  @include bp.respond("lg") {
    .product__title {
      font-size: 2.3rem;
    }
  }

  @keyframes show-up {
    0% {
      clip-path: inset(65% 0% 0% 0%);
    }
    100% {
      clip-path: inset(0% 0% 0% 0%);
    }
  }
}
