@use "../abstracts/variables" as v;
@use "../abstracts/breakpoints" as bp;

.quantity{
  display: flex;
  align-items: center;
  gap: .8rem;
  padding: .6rem .8rem;
  width: fit-content;
  border: 1px solid var(--Border, rgba(43, 35, 31, 0.40));

  font-size: 1.4rem;
  line-height:  157.143%;
  .quantity-icon{
    padding: .6rem;
    svg{
      width: 1.6rem;
      height: 1.6rem;
    }
  }
  
}


