@use '../abstracts/variables' as var;


.body{
  // font-family: var.$font-family;
  // font-style: normal;
  // font-weight: var.$font-weight;
  // font-size: var.$font-body-desktop-size;
  // line-height: calc(1 + 0.8 / var.$font-scale);
  // letter-spacing: 0;
  // background-color: var.$bg-light;
  // color: var.$text-dark;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var.$font-family;
  font-style: normal;
  font-weight: var.$font-weight;
  color: var.$text-dark;
  word-break: break-word;
  word-wrap: break-word;
  margin: 0;
  text-transform: none;
}