
// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xl: 1400px; 

// Colors
$text-light: #EEECE6;
$text-dark: #2B231F;

$border-line: #cdc8be;

// Background-colors
$bg-light: #DDD8CB;
$bg-dark: #40372d;
$bg-dark-light: #665b4d;

$color: #fff;

// Typography
$font-family: "EB Garamond", sans-serif;
$font-family-des: "Inter", sans-serif;

$font-body-desktop-size: 1.6rem;
$font-body-mobile-size: 1.3rem;

$font-scale: 1;
$font-heading-scale: 1;

$font-weight: 400;
